.popup__container {
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 830px) {
  .popup__container {
    margin: 0;
  }
}

@media screen and (max-width: 456px) {
  .popup__container {
    max-width: calc(100% - 19px * 2);
  }
}
