.profile {
  padding-top: 36px;
  display: flex;
  max-height: 880px;
  align-items: center;
  justify-content: space-between;
 gap: 30px;
}

@media screen and (max-width: 830px) {
  .profile {
    flex-direction: column;
    gap: 2.5px
  }
}
