.popup__button {
  height: 50px;
  width: 100%;
  color: #fff;
  background-color: #000;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s;
  margin-top: 11px;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 830px) {
  .popup__button {
    height: 44px;
    font-size: 14px;
  }
}
