.popup__form_text-input {
  font-size: 14px;
  line-height: 1.2;
  outline: none;
  width: 100%;
  border: 0;
  color: #000;
  padding-bottom: 13px;
  margin-bottom: 30px;
  border-bottom: solid 1px rgba(0,0,0,0.2);

}
