.popup__title{
  color: #000;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 46px;
}

@media screen and (max-width:595px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 75px;
  }
}
