.button-edit{
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000;
  background-image: url('../../images/edit.svg');
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: -4px;
  left: 25px;
  transition: opacity .2s;
  cursor: pointer;
}

.button-edit:hover {
  opacity: 60%;
}

@media screen and (max-width:830px) {
  .button-edit {
    position: relative;
    top: 7px;
    right: 0;
    width:  18px;
    height:  18px;
    background-size: 8px;
  }
}
