.button-add{
  width: 150px;
  height: 50px;
  max-width: 300px;
  background-color: #000;
  border: none;
  border: solid 2px #fff;
  background-image: url('../../images/Vector.svg');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
    cursor: pointer;
    transition: opacity .2s;

}

.button-add:hover {
  opacity: 60%;
}

@media screen and (max-width: 830px) {
  .button-add {
    background-size: 16px;
    width: 100%;
    margin: 0 auto;
  }
}
